h1 {
    color: azure;
}
h2 {
    color: #592115;
}
h1 {
    background-color: #E35D34;
}
p {
    color: #BF5630;
    background-color: #F2A172;
}
button {
    color: #F2EBDF;
    background-color: #736C56;
}
/*
color pallets can be customized here!
https://color.adobe.com/mythemes
*/
