/*
color pallets can be customized here!
https://color.adobe.com/mythemes
*/
h1 {
    color: #F2EBDF;
    background-color: #F2A172;
}
h2 {
    color: #F2A172;
}
button {
    color: black;
    background-color: #F2A172;
}