h1 {
    color: azure;
}
h2 {
    color: #3FE25B;
}
h1 {
    background-color: #E35D34;
}
p {
    color: #D24BE3;
}
p {
    background-color: #8C3996;
}
button {
    background-color: #3FE25B;
}
/*
color pallets can be customized here!
https://color.adobe.com/mythemes
*/
